

<nav class="nav">
    <a href="#" class="nav_p">
        ClubHouse
    </a>
</nav>


<section class="loading_page">
    <p>
        Номер вашей заявки: {{code}} <br><br>
        После обработки платежа оператором мы вышлем вам сообщение с приглашением в приложение или сообщением на телефон.
        <br><br><br>
        В связи с большим наплывом желающих попасть в клуб, наши операторы работают в полную силу и обработка заявок занимает от 20 минут до 2-3 часов ;)
    </p>


    <div class="loader">

    </div>

</section>
