<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
  </head>
<body>
  <nav class="nav">
      <a href="/" class="nav_p">

        ClubHouse
      </a>
    <ul>
      <li><a href="#description">
        Что такое ClubHouse?
      </a></li>
      <li><a href="#clubhouse_invitation">Как попасть в Clubhouse?</a></li>
      <li><a href="#functions">Функционал</a></li>
      <li><a href="#register">Регистрация</a></li>
    </ul>
  </nav>

  <section class="description" id="description">
    <div class="description_text">
        <h1>
          Что такое ClubHouse?
        </h1>
          <p>
            ClubHouse — новая социальная есть, где можно только слушать или говорить.

            Уже сейчас в США эта соцсеть стоит на 7-ом месте в AppStore в разделе «Социальные медиа», а Интернет разрывается от сообщений: «А скиньте инвайт в клабхауз».

            Посмотрите на динамику роста:

            в декабре 2020 года — 600 000 пользователей
            в начале февраля 2021 года — 2 400 000 активных пользователей (по данным американского журнала Adweek).
          </p>
    </div>
    <div class="description_image">
        <img src="https://sun9-29.userapi.com/impf/o3tRW1f4kk77-6tGLgERGcwfXWNTBto53jA87g/MNLQ1jTM4A0.jpg?size=750x511&quality=96&proxy=1&sign=6dcb248e847244a85cf3dd514a5c2dc6&type=album" alt="">
    </div>
  </section>

  <section class="clubhouse_invitation" id="clubhouse_invitation">
      <h2 (click)="scrollToElement(payment)">Как попасть в Clubhouse?</h2>
    <p>
      Главное условие: у вас должен быть iOS. Я думаю, что если сервис крепко займёт своё место в мире соцсетей, то и для Android он станет доступен.

      Если главное условия выполнено, то можно переходить к следующему шагу. Тут есть два варианта:
    </p>
    <div class="clubhouse_invitation_dropdown">
      <div class="clubhouse_invitation_dropdown_1">
<!--          зделай такой класс и сюда (click) перенеси-->
          <div class="clubhouse_invitation_dropdown_1_header">
              <h3 (click)="showVariant1 = !showVariant1">
                  <a>Вариант 1:</a>
              </h3>
          </div>

        <div class="clubhouse_invitation_dropdown_1_p" [style]="showVariant1 ? '' : 'display: none'">
          Получить приглашение от знакомого, кто уже является пользователем Clubhouse. Это будет сделать проще, если у вас есть знакомые в США, так как основная часть аудитории — в Америке.
          Ограничение для варианта 1:

          при попадании в сервис пользователю дают только 2 приглашения. Т. е. приглашения он может отправить лишь 2 своим друзьям. Но через время Clubhouse даёт ещё несколько приглашений.
        </div>
      </div>
      <div class="clubhouse_invitation_dropdown_1">
          <div class="clubhouse_invitation_dropdown_1_header">
              <h3 (click)="showVariant2 = !showVariant2">
                  <a>Вариант 2:</a>
              </h3>
          </div>
        <div class="clubhouse_invitation_dropdown_1_p" [style]="showVariant2 ? '' : 'display: none'">
          Зарегистрироваться в приложении и ждать, пока вас пустят. Но неизвестно, когда вы дождётесь, потому что платформа оставляет за собой возможность добавлять новых пользователей без ограничений по времени.
        </div>
      </div>
    </div>
  </section>


  <section class="functions" id="functions">
    <h4>
      Функционал
    </h4>
    <div class="functions_wrap">
      <div class="functions_wrap_card">
        <div class="functions_wrap_card_logo">
          <span class="material-icons">
            question_answer
            </span>
        </div>
        <div class="functions_wrap_card_text">Живые (не смонтированные) разговоры</div>
      </div>
      <div class="functions_wrap_card">
        <div class="functions_wrap_card_logo">
                  <span class="material-icons">
        hearing
        </span>
        </div>
        <div class="functions_wrap_card_text">Можно всегда быть слушателем, если не любишь говорить, и узнавать новое по интересующим темам</div>
      </div>
      <div class="functions_wrap_card">
        <div class="functions_wrap_card_logo">
          <span class="material-icons">
          video_label
          </span>
        </div>
        <div class="functions_wrap_card_text">Можно слушать с выключенным экраном или свёрнутым приложением</div>
      </div>
      <div class="functions_wrap_card">
        <div class="functions_wrap_card_logo">
                      <span class="material-icons">
            accessibility
            </span>
        </div>
        <div class="functions_wrap_card_text">Персонализация по интересам: алгоритмы определяют контент, который показывают вам по подпискам и по клубам, в которых состоите</div>
      </div>
      <div class="functions_wrap_card">
        <div class="functions_wrap_card_logo">
          <span class="material-icons">
textsms
</span>
        </div>
        <div class="functions_wrap_card_text">приходят уведомления о начатых или запланированных беседах, в которых участвуют те, за кем вы следите</div>
      </div>

      <div class="functions_wrap_card">
        <div class="functions_wrap_card_logo">
          <span class="material-icons">
textsms
</span>
        </div>
        <div class="functions_wrap_card_text">приходят уведомления о начатых или запланированных беседах, в которых участвуют те, за кем вы следите</div>
      </div>

    </div>
  </section>

  <section class="register" id="register">
    <h4>
      Главный вопрос:
    </h4>
    <p>
      Стоит ли регистрироваться сейчас и ждать? Точно да, потому что вы забронируете имя пользователя. Это может быть актуально, если у вас есть личный бренд и имя пользователя, по которому вас все узнают, ведь если количество пользователей платформы разрастется, то ваше имя могут занять до того, как вы попадете в Clubhouse.

      Мы создали сеть аккаунтов, связанных между собой и с помощью них высылаем приглашения всем желающим за сумму, гораздо более низкую, чем предлагают другие предприимчивые пользователи Ebay.
    </p>
    <div class="register_fr">
      <div class="register_fr_card">
        <div class="register_fr_card_logo">
          <span class="material-icons" style="color: green; font-size: 80px">
          download
          </span>
        </div>
        <div class="register_fr_card_text">
          скачать приложение в App Store
        </div>
      </div>
      <div class="register_fr_card">
        <div class="register_fr_card_logo">
          <span class="material-icons" style="color: green; font-size: 80px">
        how_to_reg
        </span>
        </div>
        <div class="register_fr_card_text">
          зарегистрироваться и перейти на наш сайт
        </div>
      </div>
    </div>
    <div class="register_sr">
      <div class="register_sr_card">
        <div class="register_sr_card_logo">
<span class="material-icons" style="color: green; font-size: 80px">
shopping_cart
</span>
        </div>
        <div class="register_sr_card_text">
          произвести символический взнос
        </div>
      </div>
      <div class="register_sr_card">
        <div class="register_sr_card_logo">
<span class="material-icons" style="color: green; font-size: 80px">
settings_cell
</span>
        </div>
        <div class="register_sr_card_text">
          ждать сообщение на телефон
        </div>
      </div>
      <div class="register_sr_card">
        <div class="register_sr_card_logo">
<span class="material-icons" style="color: green; font-size: 80px">
nightlife
</span>
        </div>
        <div class="register_sr_card_text">
          вуаля! Вы в клубе.
        </div>
      </div>
    </div>
  </section>

  <div #payment>
      <form [formGroup]="form">
          <section class="payment" *ngIf="!loading && !showRequisites">
              <label for="acc_name">Имя Аккаунта</label>
              <input formControlName="username" id="acc_name">
              <div *ngIf="form.get('username').invalid && form.get('username').touched">
                  Укажите корректный никнейм. Используйте латиницу и цифры (от 5 символов)
              </div>

              <label for="tel_num">Номер телефона</label>
              <input [textMask]="phoneMask" formControlName="phone" id="tel_num">
              <div *ngIf="form.get('phone').invalid && form.get('phone').touched">
                  Укажите корректный номер телефона
              </div>

              <label for="agree">Даю согласие на обработку персональных данных</label>
              <input type="checkbox" formControlName="agree" id="agree">
              <div *ngIf="form.get('agree').invalid && form.get('agree').touched">
                  Необходимо ваше согласие на обработку персональных данных
              </div>

              <button (click)="goToPayment()" [disabled]="form.invalid">
                  Перейти к оплате
              </button>
          </section>
      </form>
  </div>


  <div *ngIf="loading">Подождите, происходит запрос на получение реквизитов для оплаты. Обычно это занимает до минуты.</div>
  <div *ngIf="showRequisites">
      Отправьте 49 руб. на кошелёк +7хххххххххх. Укажите в комментарии к оплате "{{code}}. После оплаты вам придёт СМС с кодом приглашения.
  </div>
</body>
</html>
