<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
  </head>
<body>
  <nav class="nav">
      <a href="#" class="nav_p">

        ClubHouse
      </a>
    <ul class="nav_links">
      <li><a (click)="scrollToElement(description)">
        Что такое ClubHouse?
      </a></li>
      <li><a (click)="scrollToElement(clubhouse_invitation)" >Как попасть в Clubhouse?</a></li>
      <li><a (click)="scrollToElement(functions)">Функционал</a></li>
      <li><a (click)="scrollToElement(payment)">Регистрация</a></li>
    </ul>
      <div class="burger" (click)="navSlider()">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
      </div>
  </nav>

  <section #description class="description" id="description">
    <div class="description_text">
        <h1>
          Что такое ClubHouse?
        </h1>
      <p>
        ClubHouse — новая социальная есть, где можно только слушать или говорить.

        Уже сейчас в США эта соцсеть стоит на 7-ом месте в AppStore в разделе «Социальные медиа», а Интернет разрывается от сообщений: «А скиньте инвайт в клабхауз».

        Посмотрите на динамику роста:

        в декабре 2020 года — 600 000 пользователей
        в начале февраля 2021 года — 2 400 000 активных пользователей (по данным американского журнала Adweek).
      </p>
    </div>
    <div class="description_image">
        <img src="https://sun9-29.userapi.com/impf/o3tRW1f4kk77-6tGLgERGcwfXWNTBto53jA87g/MNLQ1jTM4A0.jpg?size=750x511&quality=96&proxy=1&sign=6dcb248e847244a85cf3dd514a5c2dc6&type=album" alt="">
    </div>
  </section>
<div #clubhouse_invitation>
  <section class="clubhouse_invitation" id="clubhouse_invitation">
      <h2 >Как попасть в Clubhouse?</h2>
    <p>
      Главное условие: у Вас должен быть iOS. Вероятно, если сервис крепко займёт своё место в мире соцсетей, то и для Android он станет доступен.

      Если главное условие выполнено, то можно переходить к следующему шагу. Тут есть два варианта:
    </p>
    <div class="clubhouse_invitation_dropdown">
      <div class="clubhouse_invitation_dropdown_1">
<!--          зделай такой класс и сюда (click) перенеси-->
          <div class="clubhouse_invitation_dropdown_1_header" [style]="showVariant1 ? '' : 'height: 50px'">
              <h3 (click)="showVariant1 = !showVariant1">
                  <a>Вариант 1:</a>
              </h3>
          </div>

        <div class="clubhouse_invitation_dropdown_1_p" [style]="showVariant1 ? '' : 'display: none'">
          Получить приглашение от знакомого, кто уже является пользователем Clubhouse. Это будет сделать проще, если у вас есть знакомые в США, так как основная часть аудитории — в Америке.
          Ограничение для варианта 1:

          при попадании в сервис пользователю дают только 2 приглашения. Т. е. приглашения он может отправить лишь 2 своим друзьям. Но через время Clubhouse даёт ещё несколько приглашений.
        </div>
      </div>

      <div class="clubhouse_invitation_dropdown_1">
          <div class="clubhouse_invitation_dropdown_1_header">
              <h3 (click)="showVariant2 = !showVariant2">
                  <a>Вариант 2:</a>
              </h3>
          </div>
        <div class="clubhouse_invitation_dropdown_1_p" [style]="showVariant2 ? '' : 'display: none'">
          Зарегистрироваться в приложении и ждать, пока Вас пустят. Но неизвестно, когда вы дождётесь, потому что платформа оставляет за собой возможность добавлять новых пользователей без ограничений по времени.
        </div>
      </div>
    </div>
  </section>
</div>


<div #functions>
  <section class="functions" id="functions">
    <h4>
      Функционал
    </h4>
    <div class="functions_wrap">
      <div class="functions_wrap_card">
        <div class="functions_wrap_card_logo">
          <span class="material-icons" style="font-size: 60px">
            question_answer
            </span>
        </div>
        <div class="functions_wrap_card_text">Живые (не смонтированные) разговоры</div>
      </div>
      <div class="functions_wrap_card">
        <div class="functions_wrap_card_logo">
                  <span class="material-icons" style="font-size: 60px">
        hearing
        </span>
        </div>
        <div class="functions_wrap_card_text">Можно всегда быть слушателем, если не любишь говорить, и узнавать новое по интересующим темам</div>
      </div>
      <div class="functions_wrap_card">
        <div class="functions_wrap_card_logo">
          <span class="material-icons" style="font-size: 60px">
          video_label
          </span>
        </div>
        <div class="functions_wrap_card_text">Можно слушать с выключенным экраном или свёрнутым приложением</div>
      </div>
      <div class="functions_wrap_card">
        <div class="functions_wrap_card_logo">
                      <span class="material-icons" style="font-size: 60px">
            accessibility
            </span>
        </div>
        <div class="functions_wrap_card_text">Персонализация по интересам: алгоритмы определяют контент, который показывают Вам по подпискам и по клубам, в которых состоите</div>
      </div>
      <div class="functions_wrap_card">
        <div class="functions_wrap_card_logo">
          <span class="material-icons" style="font-size: 60px">
textsms
</span>
        </div>
        <div class="functions_wrap_card_text">Приходят уведомления о начатых или запланированных беседах, в которых участвуют те, за кем Вы следите</div>
      </div>

      <div class="functions_wrap_card">
        <div class="functions_wrap_card_logo" >
          <span class="material-icons" style="font-size: 60px">
textsms
</span>
        </div>
        <div class="functions_wrap_card_text">Приходят уведомления о начатых или запланированных беседах, в которых участвуют те, за кем Вы следите</div>
      </div>

    </div>
  </section>
</div>


  <section class="register" id="register">
    <h4>
      Главный вопрос:
    </h4>
    <p>
      Стоит ли регистрироваться сейчас и ждать? Точно да, потому что Вы забронируете имя пользователя. Это может быть актуально, если у Вас есть личный бренд и имя пользователя, по которому Вас все узнают, ведь если количество пользователей платформы разрастется, то Ваше имя могут занять до того, как Вы попадете в Clubhouse.

      Мы создали сеть аккаунтов, связанных между собой и с помощью них высылаем приглашения всем желающим за сумму, гораздо более низкую, чем предлагают другие предприимчивые пользователи Ebay.
    </p>
      <h4>
          Алгоритм регистрации
      </h4>
    <div class="register_fr">
      <div class="register_fr_card">
        <div class="register_fr_card_logo">
          <span class="material-icons" style="color: #5A739E; font-size: 80px">
          download
          </span>
        </div>
        <div class="register_fr_card_text">
          Скачать приложение в App Store
        </div>
      </div>
      <div class="register_fr_card">
        <div class="register_fr_card_logo">
          <span class="material-icons" style="color: #5A739E; font-size: 80px">
        how_to_reg
        </span>
        </div>
        <div class="register_fr_card_text">
          Зарегистрироваться и перейти на наш сайт
        </div>
      </div>
    </div>
    <div class="register_sr">
      <div class="register_sr_card">
        <div class="register_sr_card_logo">
<span class="material-icons" style="color: #5A739E; font-size: 80px">
shopping_cart
</span>
        </div>
        <div class="register_sr_card_text">
          Произвести символический взнос
        </div>
      </div>
      <div class="register_sr_card">
        <div class="register_sr_card_logo">
<span class="material-icons" style="color: #5A739E; font-size: 80px">
settings_cell
</span>
        </div>
        <div class="register_sr_card_text">
          Ждать сообщение на телефон
        </div>
      </div>
      <div class="register_sr_card">
        <div class="register_sr_card_logo">
<span class="material-icons" style="color: #5A739E; font-size: 80px">
nightlife
</span>
        </div>
        <div class="register_sr_card_text">
          Вуаля! Вы в клубе.
        </div>
      </div>
    </div>
  </section>


  <section class="payment" #payment id="pay_me">

      <form [formGroup]="form">
          <h5> Укажите данные для регистрации </h5>
          <div class="paymenter" *ngIf="!loading && !showRequisites">
            <div class="paymenter_fr">
              <div class="paymenter_fr_inputs">
                  <label for="acc_name">Ваш логин в Clubhouse:</label>
                  <input formControlName="username" id="acc_name">
                  <div *ngIf="form.get('username')?.invalid && form.get('username')?.touched" class="validate">
                      Некорректный логин. Используйте латиницу & цифры
                  </div>
              </div>
              <div class="paymenter_fr_inputs">
                  <label for="tel_num">Номер телефона</label>
                  <input [textMask]="phoneMask" formControlName="phone" id="tel_num">
                  <div *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched" class="validate">
                      Укажите корректный номер телефона
                  </div>
              </div>
            </div>
                      <div class="paymenter_data">
                          <label for="agree">Даю согласие на обработку персональных данных</label>
                          <input type="checkbox" formControlName="agree" id="agree">
                          <div *ngIf="form.get('agree')?.invalid && form.get('agree')?.touched">
                              Необходимо Ваше согласие на обработку персональных данных
                          </div>
                      </div>
              <button (click)="goToPayment()" [disabled]="form.invalid">
                  Перейти к оплате
              </button>
          </div>
      </form>
  </section>


  <div *ngIf="loading" class="await">Подождите, происходит запрос на получение реквизитов для оплаты. Обычно это занимает до минуты. <div class="loader"></div>
  </div>
  <div *ngIf="showRequisites" class="await">
      Отправьте 49 руб. на кошелёк +7хххххххххх. Укажите в комментарии к оплате "{{code}}" . После оплаты Вам придёт СМС с кодом приглашения. <div class="loader"></div>
  <button (click)="goToPage()">
      Я оплатил
  </button>

  </div>




<footer>
    <p>
    Данные для связи с поддержкой:
    </p>
    <div class="footer">
        <div class="footer_email">
            clubhouser@icloud.com
        </div>
        <div class="footer_num">
            +1800082954
        </div>
        <div >

        </div>
    </div>
</footer>
</body>
</html>
